<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target
      xsi:type="ColoredConsole"
      name="console"
      layout="${longdate} | ${message}" />
  </targets>
  <rules>
    <logger name="*" levels="Info,Error" writeTo="console" />
    <logger name="*" ruleName="debugMode" levels="Warn,Trace" writeTo="console" />
  </rules>
</nlog>